doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='Description' content='Simple Scrum Poker')
    style
      | @import "./style.styl"
  body.c
    -
      var list = [0,1,2,3,5,8,13,20,40,100]
    each item in list
      a.card.c(data-color=item href="#" + item draggable='false')= item
      a.modal(id=item href='#' data-color=item)
        span= item
