doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='Description' content='Simple Scrum Poker')
    title Simple Scrum Poker
    style
      | @import "./style.styl"
  body
    -
      var list = [0,1,2,3,5,8,13,20,40,100]
    each item in list
      a(href="#" + item)= item
    div
      each item in list
        a(id=item href='#')
          = item
