body, html
  margin 0
  padding 0
  height 100%
  user-select none

body
  flex-wrap wrap
  background-color #333
  color #fff
  text-shadow 0 0 5px rgba(0, 0, 0, 0.36)
  font 60px sans-serif
  font-weight 600
  perspective 1000px

$dim = 120px
$colors = '0' #86a, '1' #27e, '2' #09a, '3' #079, '5' #088, '8' #086, '13' #d5b, '20' #c57, '40' #c75, '100' #112

a
  color inherit
  text-decoration none
  transition all 0.2s ease-in

body > a
  margin 5px
  width $dim
  border-radius 8px
  line-height $dim * 1.2
  transform-origin top

  &:active
    box-shadow 0 5px 10px 0 rgba(0, 0, 0, 0.26)
    transform rotateX(20deg) translate(0, 5px)

body, a
  display flex
  justify-content center
  align-content center

div > a
  position fixed
  top -100%
  right 0
  bottom 100%
  left 0
  overflow hidden
  font-size 62vw
  line-height 100vh

  &:target
    top 0
    bottom 0
    pointer-events all

for color, i in $colors
  a:nth-child({i + 1})
    background color[1]